# Fetch the current project ID from gcloud configuration, suppressing error output
export project_id=$(gcloud config get-value project 2>/dev/null)

# Define the GCP region and zone
export region=us-east1
export zone=us-east1-b

# Construct the service account file path in the peer "creds" directory
export srvc_acct_file="${PWD}/../creds/${project_id}-srvc.json"

# Get the current directory name and extract the suffix for VM naming
current_dir=${PWD##*/}
export vm_name_suffix=$(echo $current_dir | awk -F '-' '{print $NF}')

# Fetch the public IP address of the current machine
export public_ip=$(curl -s https://api.ipify.org)

# Define the filter for the boot image based on the environment
# Example for Ubuntu 24
export BOOT_IMAGE_FILTER="name='ubuntu-minimal-2404-noble' AND architecture='X86_64'"

# Exporting environment variables for Terraform
export TF_VAR_gcp_project=$project_id
export TF_VAR_gcp_region=$region
export TF_VAR_gcp_zone=$zone
export TF_VAR_vm_name=$vm_name_suffix
export TF_VAR_public_ip=$public_ip
export TF_VAR_srvc_acct_file=$srvc_acct_file

# Display the environment variables and their values
echo "======================================================================"
echo "Environment variables set by direnv:"
echo "----------------------------------------------------------------------"
echo "project_id                  = $project_id"
echo "region                      = $region"
echo "zone                        = $zone"
echo "srvc_acct_file              = $srvc_acct_file"
echo "vm_name_suffix              = $vm_name_suffix"
echo "public_ip                   = $public_ip"
echo "BOOT_IMAGE_FILTER           = $BOOT_IMAGE_FILTER"
echo ""
echo "TF_VAR_gcp_project          = $TF_VAR_gcp_project"
echo "TF_VAR_gcp_region           = $TF_VAR_gcp_region"
echo "TF_VAR_gcp_zone             = $TF_VAR_gcp_zone"
echo "TF_VAR_vm_name              = $TF_VAR_vm_name"
echo "TF_VAR_public_ip            = $TF_VAR_public_ip"
echo "TF_VAR_srvc_acct_file       = $TF_VAR_srvc_acct_file"
echo "======================================================================"
echo ""
