# .envrc

# Get the current directory name and extract the suffix for env naming
CURRENT_DIR=${PWD##*/}
export TF_VAR_platform=$(echo $CURRENT_DIR | awk -F '-' '{print $NF}')
## export TF_VAR_env_prefix=$(whoami)-$(echo $CURRENT_DIR | awk -F '-' '{print $NF}')
export TF_VAR_env_prefix=build-$(echo $CURRENT_DIR | awk -F '-' '{print $NF}')
export TF_VAR_terraform_project_dir_name=$CURRENT_DIR

# Public IP address of the local machine
export TF_VAR_my_ip=$(curl -s https://api.ipify.org)

# AWS region to use
export TF_VAR_region="us-east-1"

# Instance type for the EC2 instance
## export TF_VAR_instance_type="t3.2xlarge"
export TF_VAR_instance_type="m7i.8xlarge"
## export TF_VAR_instance_type="t2.micro"

# Number of VMs to create
export TF_VAR_vm_count=1  # Adjust this value as needed

export TF_VAR_default_username=rocky

# Fetch the latest Rocky Linux 8 AMI ID dynamically
## latest_ami=$(aws ec2 describe-images --region $TF_VAR_region --filters 'Name=name,Values=Rocky-8-EC2-Base*x86_64' --query 'Images | sort_by(@, &CreationDate) | [-1].ImageId' --output text)
latest_ami=$(aws ec2 describe-images --region $TF_VAR_region --filters 'Name=name,Values=packer-build-rocky8-*' --query 'Images | sort_by(@, &CreationDate) | [-1].ImageId' --output text)
## latest_ami=$(aws ec2 describe-images --region $TF_VAR_region --filters "Name=name,Values=github-runner-${TF_VAR_platform}-*" --query 'Images | sort_by(@, &CreationDate) | [-1].ImageId' --output text)

# Check if an AMI ID was retrieved
if [ -z "$latest_ami" ]; then
  echo "Error: No AMI found for Rocky-8-EC2-Base in region $TF_VAR_region"
  exit 1
else
  ami_name=$(aws ec2 describe-images --region $TF_VAR_region --filters 'Name=name,Values=packer-build-rocky8-*' --query 'sort_by(Images, &CreationDate)[-1].Tags[?Key==`Name`].Value | [0]' --output text)
  export TF_VAR_ami=$latest_ami
  echo ""
  echo "======================================================================"
  echo "AMI Name .. : ${ami_name}"
  echo "AMI ID .... : Using AMI: $TF_VAR_ami"
  echo "======================================================================"
  echo ""
fi
