# .envrc

# Get the current directory name and extract the suffix for env naming
CURRENT_DIR=${PWD##*/}
export TF_VAR_env_prefix=$(whoami)-$(echo $CURRENT_DIR | awk -F '-' '{print $NF}')
export TF_VAR_terraform_project_dir_name=$CURRENT_DIR

export TF_VAR_default_username="ec2-user"

# Public IP address of the local machine
export TF_VAR_my_ip=$(curl -s https://api.ipify.org)

# AWS region to use
export TF_VAR_region="us-east-1"

# Instance type for the EC2 instance
export TF_VAR_instance_type="t3.2xlarge"
## export TF_VAR_instance_type="t2.micro"

# Number of VMs to create
export TF_VAR_vm_count=1  # Adjust this value as needed

# Fetch the latest Amazon Linux 2.0 9 AMI ID dynamically
latest_ami=$(aws ec2 describe-images --region $TF_VAR_region --filters 'Name=name,Values=al2023-ami-2023.*-x86_64' --query 'Images | sort_by(@, &CreationDate) | [-1].ImageId' --output text)

# Check if an AMI ID was retrieved
if [ -z "$latest_ami" ]; then
  echo "Error: No AMI found for al2023 in region $TF_VAR_region"
  exit 1
else
  export TF_VAR_ami=$latest_ami
  echo "Using AMI: $TF_VAR_ami"
fi
